//font family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//color
$primary: #212A3E;
$secondary: #394867;
$tertiary: #6d7c97;
$quaternary: #e5ebf8;

//font weight
$black: 900;
$extraBold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$extraLight: 200;